# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.db

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.idea/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
settings.json
celerybeat-schedule

# PEP 582
***/__pypackages__/

# PyBuilder
.pybuilder/
target/

# pyenv
.python-version

# PyInstaller
*.manifest
*.spec

# Migrations

**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Translations
*.mo
*.pot

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Media files
media/
static/
uploads/

# Sphinx documentation
docs/_build/

# VSCode Editor
.vscode
